# Getting started tutorials

## What kind of data does pandas handle ?

In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame(
    {
        'Nom' : [
            'Jean',
            'Pierre',
            'Jacques',
        ],
        'Âge' : [
            25,
            30,
            35,
        ],
        'Pays' : [
            'France',
            'Belgique',
            'Suisse',
        ]
    }
)

df

       Nom  Âge      Pays
0     Jean   25    France
1   Pierre   30  Belgique
2  Jacques   35    Suisse

Pour avoir juste une colonne on peut l'extraire comme ceci

In [3]:
df['Nom']

0       Jean
1     Pierre
2    Jacques
Name: Nom, dtype: object

On peut aussi créer une série comme ceci :

In [5]:
ages = pd.Series([22,35,46], name='Age')
ages

0    22
1    35
2    46
Name: Age, dtype: int64

Avec une série, on peut appliquer des fonctions prédéfinies, comme max(), min(), sum() ou mean() pour calculer des statistiques :

In [6]:
ages.min()

22

In [7]:
ages.mean()

34.333333333333336

Et pour avoir des statistiques basiques sur un dataframe, on peut utiliser describe()

In [8]:
df.describe()

        Âge
count   3.0
mean   30.0
std     5.0
min    25.0
25%    27.5
50%    30.0
75%    32.5
max    35.0

## How do I read and write tabular data ?